---
import Base from "../layouts/Base.astro";
import HeroSection from "../components/partials/HeroSection.astro";
import WhatWeDo from "../components/partials/WhatWeDo.astro";
import Testimonials from "../components/partials/Testimonials.astro";
import Mission from "../components/partials/Mission.astro";
import OurValues from "../components/partials/OurValues.astro";
import Team from "../components/partials/TeamSmol.astro";
import Contact from "../components/partials/Contact.astro";
---

<Base>
  <HeroSection />
  <WhatWeDo />
  <!--  <Testimonials /> -->
  <Mission />
  <OurValues />
  <div class="divider before:bg-secondary after:bg-secondary bg-secondary"></div>
  <Team />
  <Contact />
</Base>
