---
import { Picture } from "@astrojs/image/components";

import Base from "../layouts/Base.astro";
import HeroV2 from "../components/partials/HeroV2.astro";
import WhatWeDoV2 from "../components/partials/WhatWeDoV2.astro";
import Services from "../components/partials/Services.astro";
import Team from "../components/partials/Team.astro";
---

<Base>
  <HeroV2 />
  <WhatWeDoV2 />
  <div class="divider"></div>
  <Services bgColor={true} />
  <Team />
</Base>
