---
import { Picture } from "@astrojs/image/components";

import Base from "../layouts/Base.astro";
import Services from "../components/partials/Services.astro";
import Team from "../components/partials/Team.astro";

const hero_image = {
    src: import("../assets/images/stock-photo-1.jpeg"),
    alt: "Stock Photo 1",
};
---

<Base>

  <div class="hero min-h-screen bg-base-100">
    <div class="hero-content flex-row px-5">
      <Picture
        class="max-w-sm rounded-lg shadow-2xl"
        width={300}
        height={300}
        widths={[400, 768]}
        sizes="(max-width: 768px) 100vw, 432px"
        aspectRatio="500:500"
        {...hero_image}
      />
      <div class="pl-20">
        <h1 class="text-l text-accent-content">Our purpose</h1>
        <p class="text-3xl pt-2 pb-8">
          High quality tech solutions for non-profits, without the tech price tag
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>

  <Services bgColor={true} />
  <Team />
</Base>
