---
import Content from "../base/Content.astro";

export interface Props {
  bgColor?: boolean;
}
const { bgColor = false } = Astro.props;
---

<Content
  highlight="About"
  title="Who are we? What do we do?"
  image={{
    src: import("../../assets/images/stock-photo-1.jpeg"),
    alt: "Stock Photo 1",
  }}
  bgColor={bgColor}
>
  <Fragment slot="content">
    <h3
      class:list={[
        { "text-black dark:text-white": bgColor },
        { "text-black": !bgColor },
        "text-2xl font-bold tracking-tight sm:text-3xl mb-2",
      ]}
    >
      Our Mission
    </h3>
    Big (and small) Tech has seen tremendous growth over the last two decades from the prevalence of cloud computing, high-level programming frameworks, and an abundance of talent to put it to use. The most successful startups know when to buy (instead of build) an off-the-shelf software product so they can focus on their core mission. We want to help bypass the tech jargon and be the product that empowers non-profits to tackle the problem spaces where they are already experts.
  
  </Fragment>
  
</Content>
