---
import Content from "../base/Content.astro";
---

<div class="flex flex-wrap">
  <div
    class="mb-6 w-full shrink-0 grow-0 basis-auto bg-primary px-3 py-12 md:mb-0 md:w-6/12 lg:px-6"
  >
    <h2 class="mb-6 text-3xl font-bold text-base-100">Contact us</h2>
    <p class="mb-6 text-base-100">
      Let us know how we can partner with you, whether you're a client, a new
      recruit, or a collaborating partner organization. We're excited to hear
      from you!
    </p>
  </div>
  <div
    class="mb-12 w-full shrink-0 grow-0 basis-auto px-3 py-12 md:mb-0 md:w-6/12 lg:px-6"
  >
    <form>
      <div class="form-group mb-6">
        <input
          type="text"
          class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-base-100 transition ease-in-out focus:border-secondary focus:bg-accent focus:text-gray-700 focus:outline-none"
          id="exampleInput7"
          placeholder="Name"
        />
      </div>
      <div class="form-group mb-6">
        <input
          type="email"
          class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-base-100 transition ease-in-out focus:border-secondary focus:bg-accent focus:text-gray-700 focus:outline-none"
          id="exampleInput8"
          placeholder="Email address"
        />
      </div>
      <div class="form-group mb-6">
        <textarea
          class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-700 transition ease-in-out focus:border-secondary focus:bg-accent focus:text-gray-700 focus:outline-none"
          id="exampleFormControlTextarea13"
          rows="3"
          placeholder="Message"></textarea>
      </div>

      <button
        type="submit"
        class="w-full rounded bg-primary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-base-100 shadow-md transition duration-150 ease-in-out hover:bg-secondary hover:shadow-lg focus:bg-secondary focus:shadow-lg focus:outline-none focus:ring-0 active:bg-secondary active:shadow-lg"
        >Send</button
      >
    </form>
  </div>
</div>
