<script is:inline>
  function submitContactForm(messageParams) {
    document
      .getElementById("contactUsButton")
      .setAttribute("disabled", "disabled");
    fetch("https://nr9159tsv6.execute-api.us-east-1.amazonaws.com/contact-us", {
      method: "POST",
      body: JSON.stringify(messageParams),
      headers: {
        "Content-Type": "application/json",
      },
    });
  }
</script>

<div class="flex items-center justify-center bg-primary">
  <div class="flex max-w-7xl flex-col md:flex-row">
    <div class="bg-primary px-12 py-8 md:w-1/2">
      <h2 class="pb-2 text-3xl font-bold text-base-100">Contact us</h2>
      <p class="text-lg text-base-100">
        Let us know how we can partner with you, whether you're a client, a new
        recruit, or a collaborating partner organization. We're excited to hear
        from you!
      </p>
    </div>
    <div
      class="flex-grow bg-base-100 px-12 py-4 lg:rounded-xl lg:border-8 lg:border-primary"
    >
      <form class="my-4 flex flex-col gap-4">
        <div class="form-group">
          <input
            type="text"
            class="text-m form-control w-full rounded border border-solid border-gray-300 bg-white px-2 transition ease-in-out focus:border-secondary focus:bg-accent focus:text-gray-700 focus:outline-none"
            id="nameInput"
            placeholder="Name"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="text-m form-control w-full rounded border border-solid border-gray-300 bg-white px-2 transition ease-in-out focus:border-secondary focus:bg-accent focus:text-gray-700 focus:outline-none"
            id="emailInput"
            placeholder="Email address"
          />
        </div>
        <div class="form-group">
          <textarea
            class="text-m form-control w-full rounded border border-solid border-gray-300 bg-white px-2 transition ease-in-out focus:border-secondary focus:bg-accent focus:text-gray-700 focus:outline-none"
            id="bodyInput"
            rows="6"
            placeholder="Message"></textarea>
        </div>

        <button
          type="button"
          id="contactUsButton"
          class="btn-primary btn w-full text-lg normal-case text-base-100 hover:text-accent"
          onclick="submitContactForm({'name':document.getElementById('nameInput').value, 'email':document.getElementById('emailInput').value,'message':document.getElementById('bodyInput').value})"
          >Send</button
        >
      </form>
    </div>
  </div>
</div>
