---
import { Image } from "@astrojs/image/components";

const hero_image = {
  src: import("../../assets/images/hero-infrastructure.png"),
  alt: "Stock Photo 1",
};
---

<div class="hero bg-base-100">
  <div class="hero-content flex flex-col">
    <Image
      class="rounded-lg shadow-2xl"
      {...hero_image}
    />
      <h1 class="text-4xl text-secondary">Our purpose</h1>
      <p class="text-2xl">
        We provide custom software solutions to non-profits without the big tech
        price tag
      </p>
      <a
        class="btn-primary btn text-lg normal-case text-base-100 hover:text-accent"
        href="/contact">Book a (free) consultation</a
      >
  </div>
</div>
