---
import { Picture } from "@astrojs/image/components";

const hero_image = {
    src: import("../../assets/images/hero-infrastructure.png"),
    alt: "Stock Photo 1",
};
---

<div class="hero bg-base-100 py-24 px-12">
  <div class="hero-content flex-row px-5">
    <Picture
      class="max-w-sm rounded-lg shadow-2xl"
      width={300}
      height={300}
      widths={[200, 400]}
      sizes="(max-width: 400px) 100vw, 432px"
      aspectRatio="500:500"
      {...hero_image}
    />
    <div class="pl-20">
      <h1 class="text-2xl text-secondary">Our purpose</h1>
      <p class="text-4xl pt-2 pb-8">
        We provide custom software solutions to non-profits without the big tech price tag
      </p>
      <button class="btn btn-primary text-xl">Book a (free) consultation</button>
    </div>
  </div>
</div>
