---
import Content from "../base/Content.astro";

export interface Props {
  bgColor?: boolean;
}
const { bgColor = false } = Astro.props;
---

<Content
  highlight="Team"
  title="Meet the Team"
  image={{
    src: import("../../assets/images/headshot-adam.png"),
    alt: "Adam Headshot",
  }}
  bgColor={bgColor}
>
  <Fragment slot="content">
    <h3
      class:list={[
        { "text-black dark:text-slate-800": bgColor },
        { "text-black": !bgColor },
        "text-2xl font-bold tracking-tight sm:text-3xl mb-2",
      ]}
    >
      Meet Adam
    </h3>
    Stuff about Adam.
  </Fragment>
</Content>
<Content
  isReversed
  isAfterContent
  image={{
    src: import("../../assets/images/headshot-nikhil.png"),
    alt: "Nikhil Headshot",
  }}
  bgColor={bgColor}
>
  <Fragment slot="content">
    <h3
      class:list={[
        { "text-black dark:text-white": bgColor },
        { "text-black": !bgColor },
        "text-2xl font-bold tracking-tight sm:text-3xl mb-2",
      ]}
    >
      Meet Nikhil
    </h3>
    Stuff about Nikhil.
  </Fragment>
</Content>
<Content
  isAfterContent
  image={{
    src: import("../../assets/images/headshot-sam.png"),
    alt: "Sam Headshot",
  }}
  bgColor={bgColor}
>
  <Fragment slot="content">
    <h3
      class:list={[
        { "text-black dark:text-white": bgColor },
        { "text-black": !bgColor },
        "text-2xl font-bold tracking-tight sm:text-3xl mb-2",
      ]}
    >
      Meet Sam
    </h3>
    Stuff about Sam.
  </Fragment>
</Content>
