---
import Content from "../base/Content.astro";

export interface Props {
  bgColor?: boolean;
}
const { bgColor = false } = Astro.props;
---

<Content
  highlight="Team"
  title="Meet the Team"
  image={{
    src: import("../../assets/images/headshot-adam.png"),
    alt: "Adam Headshot",
  }}
  bgColor={bgColor}
>
  <Fragment slot="content">
    <h3
      class:list={[
        { "text-black dark:text-slate-800": bgColor },
        { "text-black": !bgColor },
        "text-2xl font-bold tracking-tight sm:text-3xl mb-2",
      ]}
    >
      Meet Adam
    </h3>
    In addition to serving on the board and as the face of CSI, Adam acts as the primary product owner assessing the needs and opportunities present in new client relationships.
    Before founding the Civic Software Initiative, Adam worked in Product at some of the largest cloud providers in tech, and founded a game studio that culminated in a multi-platform release.
    Outside of work, Adam is an active member in his community advocating for tax justice, housing rights, voter representation and voting reform.
  </Fragment>
</Content>
<Content
  isReversed
  isAfterContent
  image={{
    src: import("../../assets/images/headshot-nikhil.png"),
    alt: "Nikhil Headshot",
  }}
  bgColor={bgColor}
>
  <Fragment slot="content">
    <h3
      class:list={[
        { "text-black dark:text-white": bgColor },
        { "text-black": !bgColor },
        "text-2xl font-bold tracking-tight sm:text-3xl mb-2",
      ]}
    >
      Meet Nikhil
    </h3>
    Nikhil serves on the CSI board and acts as a member of the engineering team, designing and building the solutions that best fit each client’s unique needs.
    He began his software career at Amazon, but pivoted to the startup world where he took products from prototype to production in the healthcare, finance, and insurance industries.
    Nikhil’s work leading volunteer efforts to scale local food bank data pipelines and build user-friendly web apps to solve pandemic challenges led naturally to the Civic Software Initiative.
  </Fragment>
</Content>
<Content
  isAfterContent
  image={{
    src: import("../../assets/images/headshot-sam.png"),
    alt: "Sam Headshot",
  }}
  bgColor={bgColor}
>
  <Fragment slot="content">
    <h3
      class:list={[
        { "text-black dark:text-white": bgColor },
        { "text-black": !bgColor },
        "text-2xl font-bold tracking-tight sm:text-3xl mb-2",
      ]}
    >
      Meet Sam
    </h3>
    A systems engineer in a previous life, Sam builds and maintains the organization’s systems, processes, and strategy that support CSI's team and mission.
    Previously Sam worked in the aerospace and green energy industries as a thermo-fluids engineer. After being published in a scientific journal, she founded and ran her own data science and technical documentation company and served on the non profit WBO board of directors.  
  </Fragment>
</Content>
