---
import { Picture } from "@astrojs/image/components";

import adam from "../../assets/images/headshot-adam.png";
import sam from "../../assets/images/headshot-sam.png";
import nikhil from "../../assets/images/headshot-nikhil.png";
---

<!-- Section: Design Block -->
<section class="mb-8 pt-8 text-center text-gray-800">
  <h1 class="mb-12 text-3xl font-bold">
    Meet the <a class="text-secondary" href="/who-we-are">team</a>
  </h1>

  <div class="flex flex-col md:flex-row">
    <div class="mb-12">
      <Picture
        widths={[400]}
        aspectRatio={"1:1"}
        sizes="(max-width: 150px) 100vw, 150px"
        src={adam}
        alt="adam-headshot"
        class="mx-auto mb-4 rounded-full shadow-lg"
      />

      <p class="font-bold text-xl">Adam Pickersgill</p>
      <p class="px-16 text-gray-500 text-lg">
        Executive Director,<br />Principal Product Manager
      </p>
    </div>

    <div class="mb-12">
      <Picture
        widths={[400]}
        aspectRatio={"1:1"}
        sizes="(max-width: 150px) 100vw, 150px"
        src={sam}
        alt="sam-headshot"
        class="mx-auto mb-4 rounded-full shadow-lg"
      />

      <p class="font-bold text-xl">Sam Alleva</p>
      <p class="px-16 text-gray-500 text-lg">
        Secretary, Treasurer,<br />Chief of Operations
      </p>
    </div>

    <div class="mb-12">
      <Picture
        widths={[400]}
        aspectRatio={"1:1"}
        sizes="(max-width: 150px) 100vw, 150px"
        src={nikhil}
        alt="nikhil-headshot"
        class="mx-auto mb-4 rounded-full shadow-lg"
      />

      <p class="font-bold text-xl">Nikhil Vengal</p>
      <p class="px-16 text-gray-500 text-lg">Principal Software Engineer</p>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
