---
import { Image } from "@astrojs/image/components";
import examsheets from "../../assets/images/examsheets.png";
import laptop from "../../assets/images/laptop.png";
import puzzle from "../../assets/images/puzzle.png";
---

<div class="bg-accent py-16 px-16">
  <h1 class="pb-3 text-center text-4xl text-secondary">What we do</h1>
  <p class="text-center text-2xl">
    We are partners on your digital journey, furthering your core mission and
    impact. We lend our software engineering expertise strategically to
    accelerate and support the work you are already doing to benefit our
    society.
  </p>
  <div class="mt-28 flex flex-row justify-center gap-32 px-8">
    <div class="flex flex-col items-center bg-base-100 drop-shadow-xl">
      <Image class="-mt-24 mb-4 w-2/3" src={examsheets} alt="examsheets" />
      <h3 class="text-center text-xl text-secondary">Identify gaps</h3>
      <p class="p-6 px-12 text-left text-sm">
        We interview your key stakeholders to examine the limits of your current
        tools - and how those limits may weaken your mission.
      </p>
    </div>
    <div class="flex flex-col items-center bg-base-100 drop-shadow-xl">
      <Image class="-mt-16 mb-12 w-2/3" src={laptop} alt="laptop" />
      <h3 class="text-center text-xl text-secondary">Strategize</h3>
      <p class="p-6 px-12 text-left text-sm">
        We determine where our expertise should be exercised, then develop and
        share a comprehensive plan to capture the most impactful opportunities.
      </p>
    </div>
    <div class="flex flex-col items-center bg-base-100 drop-shadow-xl">
      <Image class="-mt-24 mb-4 w-2/3" src={puzzle} alt="puzzle" />
      <h3 class="text-center text-xl text-secondary">Build</h3>
      <p class="p-6 px-12 text-left text-sm">
        We build the software that bridges any identified gaps and work with
        your team to develop expertise in your new custom built tools.
      </p>
    </div>
  </div>
</div>
