---
import { Image } from '@astrojs/image/components';
import examsheets from '../../assets/images/examsheets.png';
import laptop from '../../assets/images/laptop.png';
import puzzle from '../../assets/images/puzzle.png';
---

<div class="bg-accent py-16">
  <h1 class="text-4xl text-secondary text-center">What we do</h1>
  <div class="px-20">
    <p class="text-lg py-3 text-center">
      We are partners on your digital journey, furthering your core mission and impact. 
      We lend our software engineering expertise strategically to accelerate and support the work you are already doing to benefit our society.
    </p>
  </div>
  <div class="flex flex-row justify-evenly px-12 pt-32 h-96">
    <div class="bg-base-100 h-72 w-64 relative">
        <Image class="absolute bottom-44 left-7 w-3/4" src={examsheets} alt="examsheets" />
        <h3 class="text-xl text-secondary text-center pt-28">Identify gaps</h3>
        <p class="text-sm text-left pt-4 px-5">
          We interview your key stakeholders to examine the limits of your current tools - and how those limits may weaken your mission.
        </p>
    </div>
    <div class="bg-base-100 h-72 w-64 relative">
        <Image class="absolute bottom-52 left-0 w-full" src={laptop} alt="laptop" />
        <h3 class="text-xl text-secondary text-center pt-28">Strategize</h3>
        <p class="text-sm text-left pt-4 px-5">
          We determine where our expertise should be exercised, then develop and share a comprehensive plan to capture the most impactful opportunities.
        </p>
    </div>
    <div class="bg-base-100 h-72 w-64 relative">
        <Image class="absolute bottom-44 left-7 w-3/4" src={puzzle} alt="puzzle" />
        <h3 class="text-xl text-secondary text-center pt-28">Build</h3>
        <p class="text-sm text-left pt-4 px-5">
          We build the software that bridges any identified gaps and work with your team to develop expertise in your new custom built tools.
        </p>
    </div>
  </div>
</div>
