---
import { Icon } from "astro-icon";

const links = [
  {
    url: "https://civicsoftwareinitiative.org/",
    description: "CSI Official Website",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/civic-software-initiative",
    description: "CSI GitHub Organization",
    icon: "fa-brands:github",
  },
  {
    url: "https://www.linkedin.com/company/civic-software-initiative",
    description: "CSI on LinkedIn",
    icon: "fa-brands:linkedin",
  },
];
---

<footer class="sticky top-[100vh] flex justify-evenly bg-secondary pt-6 pb-10">
  <div class="flex hidden flex-col pt-16">
    <h3 class="text-lg font-bold text-base-100">WHAT WE DO</h3>
    <a class="text-base text-base-100" href="/">Digital strategy</a>
    <a class="text-base text-base-100" href="/">Engineering</a>
  </div>
  <div class="flex hidden flex-col pt-16">
    <h3 class="text-lg font-bold text-base-100">WHO WE HELP</h3>
    <a class="text-base text-base-100" href="/">Out target client</a>
  </div>
  <div class="flex hidden flex-col pt-16">
    <h3 class="text-lg font-bold text-base-100">HOW WE WORK</h3>
    <a class="text-base text-base-100" href="/about-us">About CSI</a>
    <a class="text-base text-base-100" href="/who-we-are">Meet our team</a>
    <a class="text-base text-base-100" href="/how-we-work">Mission & Values</a>
    <a class="text-base text-base-100" href="/contact-us">Contact us</a>
  </div>
  <div class="flex flex-col">
    <ul class="flex flex-row justify-center gap-3 py-4">
      {
        links.map((link) => (
          <li class="w-1/5">
            <a class="text-white" href={link.url} target="_blank">
              <span class="sr-only">{link.description}</span>
              <Icon name={link.icon} />
            </a>
          </li>
        ))
      }
    </ul>
    <a
      class="btn-outline btn-accent btn flex w-full flex-row text-xl normal-case"
      href="/contact">Partner with us →</a
    >
  </div>
</footer>
