---
import { Icon } from "astro-icon";

const links = [
  {
    url: "https://civicsoftwareinitiative.org/",
    description: "CSI Official Website",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/civic-software-initiative",
    description: "CSI GitHub Organization",
    icon: "fa-brands:github",
  },
  {
    url: "https://www.linkedin.com/company/civic-software-initiative",
    description: "CSI on LinkedIn",
    icon: "fa-brands:linkedin",
  },
];
---

<footer class="sticky top-[100vh] w-full flex-none bg-secondary">
  <div class="mx-auto flex max-w-7xl justify-evenly py-10">
    <div class="hidden flex-col pt-4">
      <h3 class="text-lg font-bold text-base-100">WHAT WE DO</h3>
      <a class="text-base text-base-100" href="/">Digital strategy</a>
      <a class="text-base text-base-100" href="/">Engineering</a>
    </div>
    <div class="hidden flex-col pt-4">
      <h3 class="text-lg font-bold text-base-100">WHO WE HELP</h3>
      <a class="text-base text-base-100" href="/">Out target client</a>
    </div>
    <div class="hidden flex-col pt-4">
      <h3 class="text-lg font-bold text-base-100">HOW WE WORK</h3>
      <a class="text-base text-base-100" href="/who-we-are">Meet our team</a>
      <a class="text-base text-base-100" href="/contact-us">Contact us</a>
    </div>
    <div class="flex flex-col">
      <ul class="flex w-48 flex-row justify-center gap-3 py-4">
        {
          links.map((link) => (
            <li class="w-1/5 md:w-1/6">
              <a class="text-white" href={link.url} target="_blank">
                <span class="sr-only">{link.description}</span>
                <Icon name={link.icon} />
              </a>
            </li>
          ))
        }
      </ul>
      <!--a
        class="btn-outline btn-accent btn flex w-full text-xl normal-case md:text-lg"
        href="/#contact">Partner with us →</a
      -->
    </div>
  </div>
</footer>
