---
const sections = [
  "About",
  "Services",
  "Handbook",
  "Team",
  "Financials",
  "Contact",
];
---

<header class="sticky top-0 z-30 w-full px-2 py-4 bg-white sm:px-4 shadow-xl">
  <div class="flex items-center justify-between mx-auto max-w-7xl">
    <a href="#">
      <img class="w-[150px] h-[50px]" src="/logo_with_text.svg" />
    </a>
    <div class="flex items-center space-x-1">
      <ul class="hidden space-x-2 md:inline-flex">
        {
          sections.map((section) => {
            return (
              <li>
                <a
                  href={section.toLowerCase()}
                  class="px-4 py-2 font-semibold text-gray-600 rounded"
                >
                  {section}
                </a>
              </li>
            );
          })
        }
      </ul>
      <div class="inline-flex md:hidden">
        <button class="flex-none px-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 8h16M4 16h16"></path>
          </svg>
          <span class="sr-only">Open Menu</span>
        </button>
        <!-- put list item -->
      </div>
    </div>
  </div>
</header>
